<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
</div>
<div class="img-preview">
  <img id="img-preview" src="" style="display: none;" width="250" alt="미리보기">
  <input id="img-url" type="hidden" name="url">
</div>
    <form action="/api/user/1" enctype="multipart/form-data" method="post">
        <input type="file" name="img"> <!--name 이름만 맞춰주면 됩니다.-->
        <button type="submit" class="btn btn-primary">Upload</button>
    </form>
</body>
</html>